.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__item {
  position: relative;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 94px;
  padding-bottom: 60px;

  @include vp-1439 {
    padding-top: 84px;
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
    padding-top: 74px;
    padding-bottom: 20px;
  }
}

.hero__item--programs {
  p {
    padding-right: 20px;

    @include vp-1439 {
      padding-right: 0;
    }
  }
}

.hero__image {
  position: absolute;
  inset: 0;
  z-index: -1;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $color-cerulean-blue-20;
  }

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;

  h3 {
    padding: 40px 50px 30px;
    margin: 0;
    background-color: $color-white;
    max-width: 968px;
    width: 100%;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
    color: $color-cerulean-blue;
    border-radius: 0 30px 30px 0;

    @include vp-1439 {
      max-width: 659px;
      padding: 31px 40px 23px;
      font-size: 36px;
      line-height: 44px;
    }

    @include vp-767 {
      padding: 20px 14px 16px;
      font-size: 22px;
      line-height: 26px;
      border-radius: 0 16px 16px 0;
    }
  }
}

.hero__pagination {
  @include angle;

  display: flex;
  gap: 12px;
  width: fit-content;
  height: fit-content;
  padding: 14px 20px;
  border-radius: 20px 20px 0 0;
  background-color: $color-white;

  &::after {
    width: 20px;
    height: 20px;
    right: -20px;
    bottom: 0;

    @include vp-767 {
      width: 10px;
      height: 10px;
      right: -10px;
    }
  }

  @include vp-767 {
    padding: 10px 16px;
    border-radius: 12px 12px 0 0;
  }
}

.hero__pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid $color-cerulean-blue;
  background-color: $color-transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color $trans-default;

  &--active {
    background-color: $color-cerulean-blue;
  }

  &:active {
    background-color: $color-cerulean-blue;
  }

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.hero__container {
  @include angle;

  margin-top: -7px;
  padding: 0 50px 28px;
  width: 62.23%;
  max-width: 772px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 30px;
  background-color: $color-white;
  border-radius: 0 0 30px 30px;

  &::after {
    width: 26px;
    height: 26px;
    right: -26px;
    top: 7px;
    transform: rotate(90deg);
  }

  @include vp-1439 {
    align-items: flex-start;
    padding: 0 40px 35px;
    width: 87.23%;
    max-width: 591px;
    margin-top: -4px;

    &::after {
      top: 4px;
    }
  }

  @include vp-767 {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    width: 100%;
    background-color: $color-transparent;
    margin-top: -5px;

    &::after {
      display: none;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      @include angle;

      font-size: 14px;
      padding: 0 14px 10px;
      border-radius: 0 0 14px;
      background-color: $color-white;
      width: 92%;

      &::after {
        width: 10px;
        height: 10px;
        right: -10px;
        top: 5px;
        transform: rotate(90deg);
      }
    }
  }
}

.hero__btn-wrapper {
  @include angle;

  display: flex;
  flex-direction: column;

  @include vp-767 {
    padding: 6px 15px 10px;
    background-color: $color-white;
    border-radius: 0 0 14px 14px;
    max-width: 182px;
    width: 100%;

    &::after {
      width: 10px;
      height: 10px;
      right: -10px;
      top: 0;
      transform: rotate(90deg);
    }
  }
}

.hero__btn {
  @include vp-1439 {
    margin-top: 4px;
  }
}
