$color-white: #ffffff;
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-30: rgba(255, 255, 255, 0.3);
$color-white-60: rgba(255, 255, 255, 0.6);
$color-white-70: rgba(255, 255, 255, 0.7);
$color-white-80: rgba(255, 255, 255, 0.8);
$color-white-90: rgba(255, 255, 255, 0.9);
$color-transparent: rgba(255, 255, 255, 0);
$color-charcoal: #484848;
$color-charcoal-30: rgba(72, 72, 72, 0.3);
$color-charcoal-60: rgba(72, 72, 72, 0.6);
$color-charcoal-80: rgba(72, 72, 72, 0.8);
$color-charcoal-90: rgba(72, 72, 72, 0.9);
$color-alabaster: #f0efe9;
$color-alabaster-60: rgba(240, 239, 233, 0.6);
$color-alabaster-80: rgba(240, 239, 233, 0.8);
$color-alabaster-90: rgba(240, 239, 233, 0.9);
$color-cerulean-blue: #316dc2;
$color-cerulean-blue-20: rgba(49, 109, 194, 0.2);
$color-cerulean-blue-50: rgba(49, 109, 194, 0.5);
$color-cerulean-blue-60: rgba(49, 109, 194, 0.6);
$color-cerulean-blue-70: rgba(49, 109, 194, 0.7);
$color-endeavour: #275699;
$color-mischka: #a9afb7;
$color-mischka-20: rgba(169, 175, 183, 0.2);
$color-mischka-60: rgba(169, 175, 183, 0.6);
$color-mischka-50: rgba(169, 175, 183, 0.5);
$color-wild-watermelon: #ff5e66;
$color-wild-watermelon-20: rgba(255, 94, 102, 0.2);
$color-black-pearl: rgba(13, 29, 51, 0.4);
$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-500: 0.5s $tf-default;
$trans-600: 0.6s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$vp-320: 320px;
$vp-480: 480px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1440: 1440px;
$vp-1920: 1920px;
